doctype html
html
	head
			title WordPress + DigitalOcean + EasyEngine
			meta(charset='utf-8')
			script(src='slides.js')
			link(href='https://fonts.googleapis.com/css?family=Bangers|Open+Sans:400,700' rel='stylesheet' type='text/css')
			link(href='styles.css'  rel='stylesheet' type='text/css')
		body
			include components/mixins
			section.slides.layout-regular.template-default
				article.first
					h1(style="font-size:100px;")
						| 🙌
						br
						| Self Hosting WordPress With DigitalOcean & EasyEngine
					p.psld1
						em
							| by
						+s
						a(href='http://AhmadAwais.com' target="_blank")
							| Ahmad Awais
						br
						img(src='images/Twitter_logo_white.png', width='30' style="margin:0 0.5rem")
						a(href='http://twitter.com/mrahmadawais' target="_blank" style="font-size:30px;") @MrAhmadAwais

				article.me
					h1(style="font-size:200px;")
						| I&apos;m<br>Ahmad Awais
					br
					h3(style="font-size:50px;") Full Stack Developer & WordPress Core Contributor

				article
					h2(style="font-size:50px;") I will tweet the link of these slides,<br>shortly after the talk.
					img(src='images/Twitter_logo_white.png', width='300' style="margin:2.5rem auto")
					h2
						a(href='http://twitter.com/mrahmadawais', target='_blank' style="font-size:150px;") @mrahmadawais

				article.plain
					img.high(src="images/aacom.png")
					a(href="http://AhmadAwais.com/" target="_blank") AhmadAwais.com

				article
					h1 Let's talk about DevOps.
					p
						em First, a story

				article
					h1 It's about
					h1(style="font-size:150px;") Amazon & Google

				article
					h2.b 1 SEC DELAY
					.halves.sl7h3
						.half
							h3 AMAZON
							p
								| →  $1.6 Billion
							p
								| LOSS in the profit
						.half
							h3 GOOGLE
							p
								| → 20,000,000
							p
								| LESS searches per day

				article
					h2.hdevops
						| D
						span.hsmall
							| ev
						| O
						span.hsmall
							| ps
					p Developement + Operations
					p.psmall
						strong
							| → DEVELOPER:
						+s
						| Programs web/applications.
						br
						strong
							| → Ops:
						+s
						| Deploys, manages, monitors web/applications.
						br
						strong
							| → DevOps:
						+s
						| Does both, and manages both.

				article
					h1(style="font-size:120px;") Why Host WordPress Yourself? And why choose DigitalOcean?

				article
					img(src="images/brain.svg")
					h2(style="font-size:120px;")  You can be smart about your progress!

				article(style="font-size:5rem;")
					p "There are too many software!"
					p "Security, Monitoring, Up/Down Times"
					p "Scaling, Load Balancing, API Limiting, etc."
					h2(style="font-size:5rem;") 😭
					h2(style="font-size:5rem;") I'm overwhelmed <br>& Confused.

				article
					h2(style="font-size:5rem;") 😭 → 😢 → 😑 → 😮 → 😁 → 😄
					p(style="margin-bottom:5rem;") Learn and develop yourself and not just code.
					h2(style="font-size:5rem;")  Self-learning
					h2(style="font-size:5rem;")  Risk Analysis
					h2(style="font-size:5rem;")  WordPress
					h2(style="font-size:5rem;")  DigitalOcean
					h2(style="font-size:5rem;")  EasyEngine

				article
					h1(style="font-size:13rem;") #1. <br> Self-learning

				article
					h2(style="font-size:13rem;") Why self-learning?
					ul.build
						li Education system is broken
						li Most of us are self-taught developers

				article
					h2(style="font-size:5rem;") How to teach yourself?
					ul.build
						li Google
						li Read the source code
						li Implement it / Teach it
						li Find help at StackExchange
						li The Pomodoro Technique
						li #[a(href='//www.rescuetime.com/' target='_blank') RescueTime]

				article
					h1(style="font-size:15rem;") #2. <br> Risk Analysis

				article
					h3 🤔
					h2(style="font-size:100px;") Take a calculated risk
					h4 I have a back server ready if anything goes wrong
					h4 I knew the No. of emails to send to get a client

				article
					h1(style="font-size:15rem;") #3. <br> WordPress!

				article
					h2(style="font-size:7rem;") WordPress is Open Source
					h2(style="font-size:7rem;") Community is the best part

				article
					h1(style="font-size:15rem;") #4. <br> DigitalOcean!

				article
					h2(style="font-size:5rem;") Best Cloud Compute Community
					h2(style="font-size:5rem;") Lots of helping tutorials

				article
					h1(style="font-size:15rem;") #5. <br> EasyEngine!

				article
					h2(style="font-size:4rem;") Built by a WordPress VIP Partner Agency
					h2(style="font-size:4rem;") Next best thing with lots of control

				article
					h1(style="margin-bottom:5rem;") Turning pro is a mindset.

				article
					h3 “Simply put, a professional is someone who takes their responsibilities and career seriously and is willing to make the tough choices that have to be made—often at their own expense—for the purpose of doing what they know is right.”

				//- Sum it all up!
				article
					h1 Whew. That was a lot.

				article
					h1.big Perspective is important

				article
					h1(style="font-size:10rem;") WordPress will change your life if you let it!

				article
					h1(style="font-size:8rem;") DigitalOcean can save you a lot of money and help you scale your architechture!

				article
					h1(style="font-size:8rem;") EasyEngine helps you keep in control while automating a lot of grunt work for you!

				article.qa
					h1.big Questions?
					a(href="http://twitter.com/mrahmadawais" target="_blank") @MrAhmadAwais
					a(href="http://AhmadAwais.com" target="_blank") AhmadAwais.com
